FullProject/Shop/MvcShop/Service References/ServiceShop/ServiceShop2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopModel.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopModel.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReceptInCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceptInCategory" nillable="true" type="tns:ReceptInCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceptInCategory" nillable="true" type="tns:ArrayOfReceptInCategory" />
  <xs:complexType name="ReceptInCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategory" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecept" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceptInCategory" nillable="true" type="tns:ReceptInCategory" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderLines" nillable="true" type="tns:ArrayOfOrderLine" />
      <xs:element minOccurs="0" name="OrderStatus" type="tns:OrderStatus" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLine" nillable="true" type="tns:OrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderLine" nillable="true" type="tns:ArrayOfOrderLine" />
  <xs:complexType name="OrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Recept" nillable="true" type="tns:Recept" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderLine" nillable="true" type="tns:OrderLine" />
  <xs:complexType name="Recept">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingridients" nillable="true" type="tns:ArrayOfIngridientInRecept" />
      <xs:element minOccurs="0" name="NameRecept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathToImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="TimeCooking" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recept" nillable="true" type="tns:Recept" />
  <xs:complexType name="ArrayOfIngridientInRecept">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngridientInRecept" nillable="true" type="tns:IngridientInRecept" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngridientInRecept" nillable="true" type="tns:ArrayOfIngridientInRecept" />
  <xs:complexType name="IngridientInRecept">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecept" type="xs:int" />
      <xs:element minOccurs="0" name="Ingridient" nillable="true" type="tns:Ingridient" />
      <xs:element minOccurs="0" name="Quantity" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngridientInRecept" nillable="true" type="tns:IngridientInRecept" />
  <xs:complexType name="Ingridient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IngridientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingridient" nillable="true" type="tns:Ingridient" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Processed" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfIngridient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingridient" nillable="true" type="tns:Ingridient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngridient" nillable="true" type="tns:ArrayOfIngridient" />
  <xs:complexType name="ItemInSklad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingridient" nillable="true" type="tns:Ingridient" />
      <xs:element minOccurs="0" name="MinQuantity" type="xs:float" />
      <xs:element minOccurs="0" name="PriceByKgOrOne" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemInSklad" nillable="true" type="tns:ItemInSklad" />
  <xs:complexType name="ArrayOfItemInSklad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemInSklad" nillable="true" type="tns:ItemInSklad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemInSklad" nillable="true" type="tns:ArrayOfItemInSklad" />
  <xs:complexType name="ArrayOfRecept">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recept" nillable="true" type="tns:Recept" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecept" nillable="true" type="tns:ArrayOfRecept" />
</xs:schema>